body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-color: #2d2d39; */
}
/* .navList {
} */

.ul-list {
  padding-left: 20px;
}
.ul-list li {
  font-size: 20px;
  padding-inline: 50px;
  padding-left: 150px;
  font-weight: bold;
}
.my-library {
  font-weight: bold;
  text-shadow: crimson;
}
.welcome-msg {
  margin-top: 100px;
  text-align: center;
  justify-content: center;
  padding: 5px;
}
